{% extends 'base.html.twig' %}

{% block content %}
    <div style="height:400px; text-align: center">
        <h3>Welcome to MySql Part!</h3>
       <button onclick="window.location.href='ex00/create';">
            Create Table
        </button>
       <button onclick="window.location.href='ex00/table';">
           Get Table
        </button>
    </div>
{% endblock %}