{% extends 'base.html.twig' %}

{% block content %}
    <h1 style="text-align:center;">Elephant</h1>
    <h3 style="text-align:center;">Large terrestrial mammals with trunks from Africa and Asia</h3>
    <div style="display: flex;justify-content: center;">
        <div style="width:50%;">
            <p style="text-align:center;">Elephants are large grey animals with big ears, long noses and ivory tusks. 
            They are the biggest living land mammals. The largest elephant recorded was shot in Angola, 1974. 
            It weighed 27,060 lb (12.27 t) and stood 13 ft 8 in (4.17 m) tall. </p>
            <img src="{{ asset('images/Elephant.jpeg') }}" alt="blue-whale" width="500" height="400" style="padding-left: 130px">
            <p style="text-align:center;">In the wild, elephants have strong family relationship. Their ways of acting toward other 
            elephants are hard for people to understand. They "talk" to each other with very low sounds.
            Most elephants sounds are so low, people cannot hear them. But elephants can hear these sounds far away. 
            Elephants have strong, leathery skin to protect themselves. </p>
        </div>
    </div>
    <div style="text-align:center;">
        <a href="/e01">Main Page</a>
    </div>
{% endblock %}