{% extends 'base.html.twig' %}

{% block content %}
    <div style="height:400px; text-align: center">
        <h3>Welcome to MySql Part!</h3>
       <button onclick="window.location.href='/ex07/user';">
            Create User
        </button>
       <button onclick="window.location.href='/ex07/list';">
           List Users
        </button>
    </div>
{% endblock %}