{# templates/ex03/ex03.html.twig #}

<h1>Twig Extension</h1>

<p><strong>Original String 1:</strong> {{ string1 }}</p>
<p><strong>Uppercased Words (Filter applied):</strong> {{ string1 | uppercaseWords }}</p>

<p><strong>Original String 2:</strong> {{ string2 }}</p>
<p><strong>Number of Digits (Function applied):</strong> {{ countNumbers(string2) }}</p>
