{% extends 'base.html.twig' %}

{% block content %}
    <div style="height:400px; text-align: center">
        <h3>Latest articles:</h3>
        <ul style="padding: 0; display: inline-block; text-align: left;">
            <li><a href="/e01/elephant">Elephant</a></li>
            <li><a href="/e01/panda">Panda</a></li>
            <li><a href="/e01/zebra">Zebra</a></li>
        </ul>
    </div>
{% endblock %}